name: flutter_pcsc_platform_interface
description: A common platform interface for  the flutter_pcsc plugin
version: 0.0.2
repository: https://github.com/fabienrousseau/flutter_pcsc 

environment:
  sdk: '>= 3.0.1'
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0
