name: flutter_pcsc_macos
description: macOS implementation of the flutter_pcsc plugin for using PCSC smartcard readers.
version: 0.0.3
repository: https://github.com/davidsanda/flutter_pcsc.git
publish_to: none

environment:
  sdk: '>= 3.0.1'
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.0.2
  flutter_pcsc_platform_interface:
    git:
      url: https://github.com/davidsanda/flutter_pcsc.git
      path: 'flutter_pcsc_platform_interface'

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0
  ffigen: ^8.0.2

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  plugin:
    implements: flutter_pcsc
    platforms:
      macos:
        pluginClass: none
        dartPluginClass: PcscMacOS

ffigen:
  name: NativeLibraryWinscard
  description: Bindings to PCSC.Framework (took headers from pcsclite)
  output: 'generated_bindings.dart'
  headers:
    entry-points:
      - 'headers/winscard.h'
